/* 
Custom Sound Player CSS 
P. Kalmar
2018
*/

table {
	background-color: white;
}

th, td {
	padding: 5px;
}

.main {
	padding: 10px;
	background-color: gray;
}

.glyphicon {
	padding-right: 7px;
}

.width-full {
	width: 100%;
}

.center {
	text-align: center;
}

.hover {
	opacity: 0.5;
}

.header-panel {
	display: inline-block;
}

.sceneTitle {
	font-family: Courier;
	font-weight: bold;
	font-size: 20px;
}

.notes {
	font-family: Courier;
}

input[type=range][orient=vertical]
{
	writing-mode: bt-lr; /* IE */
	-webkit-appearance: slider-vertical; /* WebKit */
	width: 5px;
	height: 125px;
	padding: 5px 5px;
}